<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>Topjava</display-name>

    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>ru.javawebinar.topjava.web.UserServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MealServlet</servlet-name>
        <servlet-class>ru.javawebinar.topjava.web.MealServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>MealServlet</servlet-name>
        <url-pattern>/mealServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UsersJsp</servlet-name>
        <jsp-file>/users.jsp</jsp-file>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsersJsp</servlet-name>
        <url-pattern>/users-jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MealsJsp</servlet-name>
        <jsp-file>/meals.jsp</jsp-file>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>MealsJsp</servlet-name>
        <url-pattern>/meals-jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Form</servlet-name>
        <jsp-file>/form.jsp</jsp-file>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Form</servlet-name>
        <url-pattern>/form-jsp</url-pattern>
    </servlet-mapping>
</web-app>